<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
</head>

<body style="background-image: url('assets/imgs/flam.jpg');">
    <app-navbar></app-navbar>
    <div class="wrapper">
        <div class="form-box">
            <div class="login-container" id="login">
                <div class="top">
                    <span>Don't have an account? <a  onclick="register()" routerLink = "/signup">Sign Up</a></span>
                    <header>Login</header>
                </div>
                <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Email" name="email"
                            [(ngModel)]="login.email" required #emailInput="ngModel">
                        <i class="bx bx-user"></i>
                        <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                            <div>Email is required.</div>
                        </div>
                    </div>
                    <div class="input-box">
                        <input type="password" class="input-field" placeholder="Password" name="password"
                            [(ngModel)]="login.password" required #passwordInput="ngModel">
                        <i class="bx bx-lock-alt"></i>
                        <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
                            <div>Password is required.</div>
                        </div>
                    </div>
                    <div class="input-box">
                        <input type="submit"  class="submit" value="Sign In">
                    </div>
                    <div class="two-col">
                        <div class="one">
                            <input type="checkbox" id="login-check">
                            <label for="login-check"> Remember Me</label>
                        </div>
                        <div class="two">
                            <label><a href="#">Forgot password?</a></label>
                        </div>
                    </div>
                </form>
                <app-notification></app-notification>
            </div>
        </div>
    </div>
</body>

</html>