<body>
    <app-navbar></app-navbar>
    <main>
        <header>
            <div class="container">
                <div class="header-info-par">
                    <h1 style="font-family: 'Poppins', sans-serif; font-size: 60px;">Lets take a trip together</h1>
                    <p style="font-size: 22px;">Discover Inspiring Destinatons, Create Unfgettable Memories, And Travel
                        With Confidence -
                        Adventure Start Adventure Starts Here</p>
                        <a href="#" class="a" routerLink="/login">Get Started</a>
                </div>
                <div class="video">
                    <video id="video" autoplay loop muted>
                        <source src="assets/vids/Kenyeah.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </header>
        <section id="welcome-text">
            <div class="container">
                <p style="font-size: 30px; font-weight: 500;">Karibu Kenya <br> Find your Kenyan Adventure Hakuna matata
                    !</p>
                <p style="font-size: 22px;">. Explore the majestic savannahs teeming with wildlife, or relax on pristine
                    beaches kissed by
                    the warm Indian Ocean.</p>
            </div>
        </section>
        <!-- destinatons section starts here  -->
        <section class="destinations">
            <p style="font-size: 22px;" class="label">Must-Sees</p>
            <div class="container">
                <div class="container-box">
                    <p style="font-size: 35px ; font-weight: 400;" class="heading">From Bustling Streets to Untamed
                        Beauty</p>
                    <div class="content">
                        <p> Kenya beckons with a captivating blend of urban energy and untamed wilderness. Explore the
                            vibrant streets of Nairobi, Mombasa Then,
                            venture out on safari and witness the majestic spectacle of the savannas. Hike through lush
                            rainforests, relax on pristine beaches, or climb
                            snow-capped mountains. Kenya offers an unforgettable adventure
                            promising encounters with breathtaking scenery and iconic wildlife that will stay with you
                            forever</p>
                    </div>
                </div>
                <div class="gallery">
                    <div class="box box1">
                        <img src="assets/imgs/gameDrive.jpg" alt="">
                        <div class="text">
                            <p class="inp">Game Drives</p>
                        </div>
                    </div>
                    <div class="box box2">
                        <img src="assets/imgs/NaiNightView.jpg" alt="">
                        <div class="text">
                            <p class="inp">City Views</p>
                        </div>
                    </div>
                    <div class="box box3">
                        <img src="assets/imgs/KICC.webp" alt="">
                        <div class="text">
                            <p class="inp">Iconic KICC</p>
                        </div>
                    </div>
                    <div class="box box4">
                        <img src="assets/imgs/coast01.jpg" alt="">
                        <div class="text">
                            <p class="inp">Relaxing Coast Breeze</p>
                        </div>
                    </div>
                    <div class="box box5">
                        <img src="assets/imgs/elephants.jpg" alt="">
                        <div class="text">
                            <p class="inp">The Untamed</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- destinatons section ends here  -->




        <!-- Pakage section start-->
        <section class="pakage  py-4">
            <div class="container">
                <h1 style="color: azure;" class="heading text-center text-light"><span style="color: rgb(227, 30, 30); font-size: 27px;">Hot &nbsp;</span>Deals</h1>
                <div class="rowtours">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="tourcard">
                            <figure>
                                <div class="tourpic">
                                    <img src="assets/imgs/hiking2.webp">
                                    <span class="tourcat">Mt Views</span>
                                    <span class="tourday hot">3d</span>
                                </div>
                                <figcaption>
                                    <h3 class="entry-title">
                                        <a href="">Hikes</a>
                                    </h3>
                                    <span class="description">Tour Package 4 Days 3 Night</span>
                                    <span class="tourprice">
                                        <span class="currency">Ksh </span><span class="price">7,000</span>
                                        <span> / pax</span>
                                    </span>
                                </figcaption>

                                <div class="tourbtn">
                                    <a href="" class="btn btn-sm" target="_blank" rel="noreferrer">
                                        <i class="fa fa-whatsapp fa-fw"></i><span>WhatsApp</span>
                                    </a>
                                    <a href="" class="btn btn-sm" target="_blank" rel="noreferrer">
                                        <i class="fa fa-phone fa-fw"></i><span>Call Us</span>
                                    </a>
                                    <a href="/" class="btn btn-sm">
                                        <i class="fa fa-arrow-right fa-fw"></i><span>Read more</span>
                                    </a>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="tourcard">
                            <figure>
                                <div class="tourpic">
                                    <img src="assets/imgs/kilimanjaro.jpg">
                                    <span class="tourcat">Neigbouring</span>
                                    <span class="tourday hot">2d/1n</span>
                                </div>
                                <figcaption>
                                    <h3 class="entry-title">
                                        <a href="">Kilimanjaro</a>
                                    </h3>
                                    <span class="description">Neighbouring Tour Package 3 Days 2 Night</span>
                                    <span class="tourprice">
                                        <span class="currency"> Ksh.</span><span class="price">15,009</span>
                                        <span>/pax </span>
                                    </span>
                                </figcaption>
                                <div class="tourbtn">
                                    <a href="" class="btn btn-sm" target="_blank" rel="noreferrer">
                                        <i class="fa fa-whatsapp fa-fw"></i><span>WhatsApp</span>
                                    </a>
                                    <a href="" class="btn btn-sm" target="_blank" rel="noreferrer">
                                        <i class="fa fa-phone fa-fw"></i><span>Call Us</span>
                                    </a>
                                    <a href="/" class="btn btn-sm">
                                        <i class="fa fa-arrow-right fa-fw"></i><span>Read more</span>
                                    </a>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="tourcard">
                            <figure>
                                <div class="tourpic">
                                    <img src="assets/imgs/maasai.jpg">
                                    <span class="tourcat">Local</span>
                                    <span class="tourday hot">1d/0n</span>
                                </div>
                                <figcaption>
                                    <h3 class="entry-title">
                                        <a href="">Maasai</a>
                                    </h3>
                                    <span class="description">Tribal Tour Package 1 Day</span>
                                    <span class="tourprice">
                                        <span class="currency">Ksh. </span><span class="price">3,000</span>
                                        <span> </span>
                                    </span>
                                </figcaption>
                                <div class="tourbtn">
                                    <a href="" class="btn btn-sm" target="_blank" rel="noreferrer">
                                        <i class="fa fa-whatsapp fa-fw"></i><span>WhatsApp</span>
                                    </a>
                                    <a href="" class="btn btn-sm" target="_blank" rel="noreferrer">
                                        <i class="fa fa-phone fa-fw"></i><span>Call Us</span>
                                    </a>
                                    <a href="/" class="btn btn-sm">
                                        <i class="fa fa-arrow-right fa-fw"></i><span>Read more</span>
                                    </a>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="tourcard">
                            <figure>
                                <div class="tourpic">
                                    <img src="assets/imgs/bogoria.webp">
                                    <span class="tourcat">Domestic</span>
                                    <span class="tourday hot">2d/2n</span>
                                </div>
                                <figcaption>
                                    <h3 class="entry-title">
                                        <a href="">Bogoria/ Baringo</a>
                                    </h3>
                                    <span class="description">Volcanic Tour Package 3 Days 2 Night</span>
                                    <span class="tourprice">
                                        <span class="currency"> Ksh.</span><span class="price">13,000</span>
                                        <span> </span>
                                    </span>
                                </figcaption>
                                <div class="tourbtn">
                                    <a href="" class="btn btn-sm" target="_blank" rel="noreferrer">
                                        <i class="fa fa-whatsapp fa-fw"></i><span>WhatsApp</span>
                                    </a>
                                    <a href="" class="btn btn-sm" target="_blank" rel="noreferrer">
                                        <i class="fa fa-phone fa-fw"></i><span>Call Us</span>
                                    </a>
                                    <a href="" class="btn btn-sm">
                                        <i class="fa fa-arrow-right fa-fw"></i><span>Read more</span>
                                    </a>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="tourcard">
                            <figure>
                                <div class="tourpic">
                                    <img src="assets/imgs/flamingo.jpg">
                                    <span class="tourcat">Coast</span>
                                    <span class="tourday hot">1wk/6n</span>
                                </div>
                                <figcaption>
                                    <h3 class="entry-title">
                                        <a href="">Beach Breeze</a>
                                    </h3>
                                    <span class="description">Sandy Tour Package 1 Week 6 Nights</span>
                                    <span class="tourprice">
                                        <span class="currency">Ksh. </span><span class="price">25,000</span>
                                        <span> / pax</span>
                                    </span>
                                </figcaption>
                                <div class="tourbtn">
                                    <a href="" class="btn btn-sm" target="_blank" rel="noreferrer">
                                        <i class="fa fa-whatsapp fa-fw"></i><span>WhatsApp</span>
                                    </a>
                                    <a href="" class="btn btn-sm" target="_blank" rel="noreferrer">
                                        <i class="fa fa-phone fa-fw"></i><span>Call Us</span>
                                    </a>
                                    <a href="/" class="btn btn-sm">
                                        <i class="fa fa-arrow-right fa-fw"></i><span>Read more</span>
                                    </a>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="tourcard">
                            <figure>
                                <div class="tourpic">
                                    <img src="assets/imgs/bomas.jpg">
                                    <span class="tourcat">Weekend Gateways</span>
                                    <span class="tourday hot">1d/0n</span>
                                </div>
                                <figcaption>
                                    <h3 class="entry-title">
                                        <a href="">Bomas of Kenya</a>
                                    </h3>
                                    <span class="description">Weekend tour Package 1 Day 1 Night</span>
                                    <span class="tourprice">
                                        <span class="currency">Ksh. </span><span class="price">1,500</span>
                                        <span> / pax</span>
                                    </span>
                                </figcaption>
                                <div class="tourbtn">
                                    <a href="" class="btn btn-sm" target="_blank" rel="noreferrer">
                                        <i class="fa fa-whatsapp fa-fw"></i><span>WhatsApp</span>
                                    </a>
                                    <a href="" class="btn btn-sm" target="_blank" rel="noreferrer">
                                        <i class="fa fa-phone fa-fw"></i><span>Call Us</span>
                                    </a>
                                    <a href="/" class="btn btn-sm">
                                        <i class="fa fa-arrow-right fa-fw"></i><span>Read more</span>
                                    </a>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="tourcard">
                            <figure>
                                <div class="tourpic">
                                    <img src="assets/imgs/naip.jpg">
                                    <span class="tourcat">Urban</span>
                                    <span class="tourday hot">2d</span>
                                </div>
                                <figcaption>
                                    <h3 class="entry-title">
                                        <a href="">Nairobery</a>
                                    </h3>
                                    <span class="description">Tour Package 2 Days</span>
                                    <span class="tourprice">
                                        <span class="currency">Ksh </span><span class="price">5,000</span>
                                        <span> / pax</span>
                                    </span>
                                </figcaption>
                                <div class="tourbtn">
                                    <a href="" class="btn btn-sm" target="_blank" rel="noreferrer">
                                        <i class="fa fa-whatsapp fa-fw"></i><span>WhatsApp</span>
                                    </a>
                                    <a href="" class="btn btn-sm" target="_blank" rel="noreferrer">
                                        <i class="fa fa-phone fa-fw"></i><span>Call Us</span>
                                    </a>
                                    <a href="/" class="btn btn-sm">
                                        <i class="fa fa-arrow-right fa-fw"></i><span>Read more</span>
                                    </a>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="tourcard">
                            <figure>
                                <div class="tourpic">
                                    <img src="assets/imgs/world wonder.webp">
                                    <span class="tourcat">Mara</span>
                                    <span class="tourday hot">5d/4n</span>
                                </div>
                                <figcaption>
                                    <h3 class="entry-title">
                                        <a href="">Maasai Mara</a>
                                    </h3>
                                    <span class="description">WorldWonder Tour Package 5 Days 5 Night</span>
                                    <span class="tourprice">
                                        <span class="currency">Ksh. </span><span class="price">30,000</span>
                                        <span> / pax</span>
                                    </span>
                                </figcaption>
                                <div class="tourbtn">
                                    <a href="" class="btn btn-sm" target="_blank" rel="noreferrer">
                                        <i class="fa fa-whatsapp fa-fw"></i><span>WhatsApp</span>
                                    </a>
                                    <a href="" class="btn btn-sm" target="_blank" rel="noreferrer">
                                        <i class="fa fa-phone fa-fw"></i><span>Call Us</span>
                                    </a>
                                    <a href="/" class="btn btn-sm">
                                        <i class="fa fa-arrow-right fa-fw"></i><span>Read more</span>
                                    </a>
                                </div>
                            </figure>
                        </div>
                    </div>

                </div>
            </div>


        </section>
        <!--Pakage section end-->

        <!--   Testimoniels here  -->


        <!-- Testimonials end here -->


        <!-- Footer -->

        <footer>
            <section class="footer">
                <div class="container">
                    <div class="detail">
                        <h3>Xplora</h3>
                        <p>You never walk alone</p>
                        <h5>get in touch</h5>
                        
                        <div class="social">
                            <a href="#"><i class="fa fa-linkedin-square"></i></a>
                            <a href="#"><i class="fa fa-facebook-square"></i></a>
                            <a href="#"><i class="fa fa-twitter-square"></i></a>
                        </div>
                    </div>
                    <div class="about-us">
                        <h4>about us</h4>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our term</a></li>
                        <li><a href="#">mission and values</a></li>
                        <li><a href="#">partnerships</a></li>
                    </div>
                    <div class="about-us">
                        <h4>help</h4>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">booking guide</a></li>
                        <li><a href="#">cancellation policy</a></li>
                        <li><a href="#">site map</a></li>
                    </div>
                    <div class="about-us">
                        <h4>Resources</h4>
                        <li><a href="#">newsletter</a></li>
                        <li><a href="#">blog</a></li>
                        <li><a href="">gallery</a></li>
                        <li><a href="#">offers</a></li>
                    </div>
                </div>
    
                <div class="copyright">
                    <div>
                        &copy;2024 - Xplora, inc, all rights reserved
                    </div>
                    <div>
                        <a href="#">term & conditions</a>
                        <a href="#">privacy policy</a>
                    </div>
                </div>
            </section>
        </footer>
        <!-- Footer end here -->





    </main>
</body>