<p>user works!</p>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Dasboard || Future Web</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>
    <div class="container">
        <div class="sidemenu" id="sideMenu">
            <div id="sidemenu-close">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="darkLightMode">
                <i class="fas fa-moon" id="themeChange"></i>
            </div>
            <div class="logo">
                <p>CodeWora</p>
            </div>
            <div class="menu">
                <div class="sub_menu">
                    <p>Menu</p>
                    <div class="menu_item">
                        <i class="fas fa-video"></i>
                        <span>All Movies</span>
                    </div>
                    <div class="menu_item">
                        <i class="fas fa-copy"></i>
                        <span>Collections</span>
                    </div>
                    <div class="menu_item">
                        <i class="fas fa-compass"></i>
                        <span>Coming soon</span>
                    </div>
                </div>
                <div class="sub_menu">
                    <p>Social</p>
                    <div class="menu_item">
                        <i class="fas fa-users"></i>
                        <span>Friends</span>
                    </div>
                    <div class="menu_item">
                        <i class="fas fa-glass-cheers"></i>
                        <span>Parties</span>
                    </div>
                </div>
                <div class="sub_menu">
                    <p>General</p>
                    <div class="menu_item">
                        <i class="fas fa-cog"></i>
                        <span>Setting</span>
                    </div>
                    <div class="menu_item">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="header">
                <i class="fas fa-bars" id="side-menu-open"></i>
                <div class="input_container">
                    <input type="text" placeholder="Search" />
                    <i class="fas fa-search"></i>
                </div>
                <div class="right_header">
                    <div>
                        <i class="fas fa-bell"></i>
                    </div>
                    <div>
                        <i class="fas fa-comments"></i>
                    </div>
                    <div class="user-profile">
                        <img src="assets/imgs/lionface.jpg" />
                    </div>
                </div>
            </div>
            <div class="content_contatiner">
                <div class="poster_container">
                    <div class="poster">
                        <img src="assets/imgs/magicaKenya.png" />
                    </div>
                    <div class="poster_friend">


                    </div>
                    
                </div>
                <div class="recently_watched">
                    <p class="title">Recently Watched</p>
                    <div class="recently_watched_container">
                        <div class="recently">
                            <img src="assets/imgs/beach3.jfif" />
                            <p>Coastal Destination</p>
                        </div>
                        <div class="recently">
                            <img src="https://drive.google.com/thumbnail?id=1SuauzI57oEociqI8jQFaUWQ8A7PGJXsy" />
                            <p>Bird Skull</p>
                        </div>
                        <div class="recently">
                            <img src="https://drive.google.com/thumbnail?id=1v51jbSjP2BaZxY1aQ8XAASa7ulmpkFFo" />
                            <p>Passion</p>
                        </div>
                        <div class="recently">
                            <img src="https://drive.google.com/thumbnail?id=1sRPnP4jejK0ZlDRpX58hwSsfcpd9KJ7f" />
                            <p>War</p>
                        </div>
                    </div>
                </div>
                <div class="recently_watched">
                    <p class="title">Recently Watched By Your Friends</p>
                    <div class="recently_watched_container">
                        <div class="recently-friend">
                            <div class="friend-details">
                                <img src="https://drive.google.com/thumbnail?id=1v51jbSjP2BaZxY1aQ8XAASa7ulmpkFFo" />
                                <div class="friend-list">
                                    <img src="https://drive.google.com/thumbnail?id=1Rn2ivMPOnf7qRtvBVmWi_s76ijTw98fr" />
                                    <img src="https://drive.google.com/thumbnail?id=1uOADdV7lIfxpa86QfAkfESA2DEuLDyDq" />
                                    <div>5</div>
                                </div>
                            </div>
                            <div class="movie_details">
                                <p>Passion</p>
                                <p>Radha Krishna</p>
                            </div>
                        </div>
                        <div class="recently-friend">
                            <div class="friend-details">
                                <img src="https://drive.google.com/thumbnail?id=1P_YnmaCYf6BaZcLDVj54QOdtBdXVfLmh" />
                                <div class="friend-list">
                                    <img src="https://drive.google.com/thumbnail?id=1Rn2ivMPOnf7qRtvBVmWi_s76ijTw98fr" />
                                    <img src="https://drive.google.com/thumbnail?id=1uOADdV7lIfxpa86QfAkfESA2DEuLDyDq" />
                                    <div>5</div>
                                </div>
                            </div>
                            <div class="movie_details">
                                <p>Bald</p>
                                <p>Radha Krishna</p>
                            </div>
                        </div>
                        <div class="recently-friend">
                            <div class="friend-details">
                                <img src="https://drive.google.com/thumbnail?id=1sRPnP4jejK0ZlDRpX58hwSsfcpd9KJ7f" />
                                <div class="friend-list">
                                    <img src="https://drive.google.com/thumbnail?id=1Rn2ivMPOnf7qRtvBVmWi_s76ijTw98fr" />
                                    <img src="https://drive.google.com/thumbnail?id=1uOADdV7lIfxpa86QfAkfESA2DEuLDyDq" />
                                    <div>5</div>
                                </div>
                            </div>
                            <div class="movie_details">
                                <p>War</p>
                                <p>Radha Krishna</p>
                            </div>
                        </div>
                        <div class="recently-friend">
                            <div class="friend-details">
                                <img src="https://drive.google.com/thumbnail?id=1SuauzI57oEociqI8jQFaUWQ8A7PGJXsy" />
                                <div class="friend-list">
                                    <img src="https://drive.google.com/thumbnail?id=1Rn2ivMPOnf7qRtvBVmWi_s76ijTw98fr" />
                                    <img src="https://drive.google.com/thumbnail?id=1uOADdV7lIfxpa86QfAkfESA2DEuLDyDq" />
                                    <div>5</div>
                                </div>
                            </div>
                            <div class="movie_details">
                                <p>Bird Skull</p>
                                <p>Radha Krishna</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="upcoming_movies">
                    <p class="title">Upcoming Movies</p>
                    <div class="upcoming_movie-details">
                        <div class="details">
                            <img src="https://drive.google.com/thumbnail?id=1qGhvDkm19dGvQd5FPNDvHaZGDKLupJXO" />
                            <p>Spiderman</p>
                        </div>
                        <div class="details">
                            <img src="https://drive.google.com/thumbnail?id=1P_YnmaCYf6BaZcLDVj54QOdtBdXVfLmh" />
                            <p>Bald</p>
                        </div>
                        <div class="details">
                            <img src="https://drive.google.com/thumbnail?id=1SuauzI57oEociqI8jQFaUWQ8A7PGJXsy" />
                            <p>Bird Skull</p>
                        </div>
                        <div class="details">
                            <img src="https://drive.google.com/thumbnail?id=1v51jbSjP2BaZxY1aQ8XAASa7ulmpkFFo" />
                            <p>Passion</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

const sideMenuOpen = document.getElementById('side-menu-open');
const sidemenuClose = document.getElementById('sidemenu-close');
const sideMenu = document.getElementById('sideMenu');
const themeChange = document.getElementById('themeChange');
const theme = localStorage.getItem('selectedTheme');
const currentTheme = () => theme === 'dark' ? 'light' : 'dark';
if (theme) {
    themeChange.classList[theme === 'dark' ? 'add' : 'remove']('fa-sun');
    document.body.classList[theme === 'dark' ? 'add' : 'remove']('darkTheme');
}
sideMenuOpen.addEventListener('click', () => {
    sideMenu.classList.add('sideMenu_open');
});
sidemenuClose.addEventListener('click', () => {
    sideMenu.classList.remove('sideMenu_open');
});
themeChange.addEventListener('click', () => {
    localStorage.setItem('selectedTheme', currentTheme());
    themeChange.classList.toggle('fa-sun');
    document.body.classList.toggle('darkTheme');
})
    </script>
</body>

</html>