.notification {
    position: fixed;
    top: 60px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    animation: fadeInOut 3s;
  }
  
  .notification.success {
    background-color: #47a58a;
  }
  
  .notification.error {
    background-color: #f45c36;
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }
  